
body{ font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; }
h1, h2, h3, h4, h5, h6{ font-family: "Raleway","Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; text-transform: uppercase; font-weight: bold; }
h2{ letter-spacing: 3px; margin-right: -3px; }
h3{ letter-spacing: 3px; margin-right: -3px; }
h6{ font-size: 14px; letter-spacing: 2px; margin-right: -2px; }
h5{ font-size: 18px; letter-spacing: 3px; margin-right: -3px; }
.feature-small .horizontal-line {
    margin: 15px 0px 22px 0px;
    opacity: 1;
}
.horizontal-line {
    background: #222;
    opacity: 0.2;
    height: 2px;
    width: 40px;
}

.feature-small .right {
    width: 80%;
}
.right {
    float: right !important;
}
.feature-small{ margin-bottom: 44px; overflow: hidden; width: 100%; }
.feature-small .left{ width: 20%; }
.feature-small .right{ width: 80%; }
.feature-small i{ font-size: 24px; display: inline-block; color: #222; position: relative; top: 5px; }
.feature-small h6{ margin-bottom: 0px; margin-top: 0px; letter-spacing: 2px; margin-right: -2px; display: inline-block; }
  
.feature-small .horizontal-line{ margin: 15px 0px 22px 0px; opacity: 1; }
.feature-small p{ color: #777; }

.feature-small i{ font-size: 38px; }

.feature-small .left {
    width: 20%;
}
.left {
    float: left !important;
    transition:all .1s ease-in;
}
.page-title{ display: inline-block; border-bottom: 3px solid; padding-bottom: 7px; margin-bottom: 44px; }

.feature-small:hover .left {
    margin-top:-5px;
}



a:hover, a:focus {
    text-decoration:none;
}

.btn-demo {    
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    border: 1px solid rgba(0,0,0,0.2);
    color: #777;
    display: inline-block;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 2px 5px 0;
    padding: 5px 7px;
    line-height: 24px;
    transition:all .2s ease-in-out;
}

.icons {
    font-size:40px;
    background:#ddd;
    height:90px;
    width:90px;
    display:inline-block;
    margin:20px;
    transition:all .2s ease-in-out;
}

.icons i {
    display:inline-block;
    margin:3px 20px 5px 5px;
    background:#f3f3f3;
    padding:25px 20px;
    transition:all .2s ease-in-out;
}


.icons:hover i{
   margin:-0px;
}


/*-----------------------------------------------------------------------------------*/

.page-loader{
 	display:block;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #fefefe;
	z-index: 100000;	
}

.loader{
   margin:50px auto;
  width: 50px;
  height: 50px;
  position: absolute;
  /*top: 50%;*/
  left: 30%;
  transform:translate(-50%,-50%);
  font-size: 10px;
  border-top: 2px solid rgba(0,0,0, 0.08);
  border-right: 2px solid rgba(0,0,0, 0.08);
  border-bottom: 2px solid rgba(0,0,0, 0.08);
  border-left: 2px solid rgba(0,0,0, 0.5);
  
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  
   -webkit-animation: spinner 700ms infinite linear;
   -moz-animation: spinner 700ms infinite linear;
   -ms-animation: spinner 700ms infinite linear;
   -o-animation: spinner 700ms infinite linear;
   animation: spinner 700ms infinite linear;
  
  z-index: 100001;
}


@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*------------------------------------------------------------------*/
    .cup {
        height:70px;
        width:50px;
        border:2px solid rgba(0, 148, 255,1);
        margin:50px auto;
        border-radius:0px 0px 10px 10px;
        position:relative;
        background:rgba(0, 148, 255,1);
        z-index:1;
    }
    .cup:after {
        top:17px;
        right:-15px;
        content:"";
        position:absolute;
        height:30px;
        width:30px;
        border:3px solid rgba(0, 148, 255,1);
        border-radius:20%;
            z-index:-1;
    }

    .cup:before {
        content:"";
        position:absolute;
        height:0px;
        width:3px;
        top:-25px;
        left:27%;
        background:rgba(0, 148, 255,.6);
        border-radius:50px 50px 0px 0px;
        transition:all .3s ease-in-out;
        box-shadow:7px -5px 0px 1px rgba(0, 148, 255,1), 0px 0px 0px 1px rgba(0, 148, 255,.6), 14px 0px 0px 1px rgba(0, 148, 255,.6);
    }
    /*.cup:hover:before {
        height:20px;
    }*/


    .cup:before {
        -webkit-animation: width 2000ms infinite linear;
        -moz-animation: width 2000ms infinite linear;
        -ms-animation: width 2000ms infinite linear;
        -o-animation: width 2000ms infinite linear;
        animation: width 2000ms infinite linear;
        z-index: 100001;
    }


@-webkit-keyframes width {
    0% { height:0px  }
      
    25% { height:10px  }
    50% { height:20px  }

    75% { height:10px  }
    100% { height:0px  }
     
}

    .cup span {
        font-family:Dosis;
        position:absolute;
        left:-10px;
        bottom:-25px;
        font-weight:500;
        letter-spacing:2px;
        font-size:16px;
        text-transform:uppercase;
        color:rgba(0, 148, 255,1)
    }

/*-------------------------------------------------------------------------------------------*/


    .loader1{
       margin:50px auto;
      width: 50px;
      height: 50px;
      position: absolute;
      /*top: 50%;
      left: 50%;*/
      transform:translate(-50%,-50%);
      font-size: 10px;
      border-top: 2px solid rgba(0, 148, 255, 0.6);
      border-right: 2px solid rgba(0, 148, 255, 1);
      border-bottom: 2px solid rgba(0, 148, 255, 0.6);
      border-left: 2px solid rgba(0, 148, 255,1);
  
      
  
       -webkit-animation: spinner-1 1000ms infinite linear;
       -moz-animation: spinner-1 1000ms infinite linear;
       -ms-animation: spinner-1 1000ms infinite linear;
       -o-animation: spinner-1 1000ms infinite linear;
       animation: spinner-1 1000ms infinite linear;
  
      z-index: 100001;
    }


@-webkit-keyframes spinner-1 {
      0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
         border-radius: 50% ;
      }
   
    50% {
         border-radius:20% ;
         box-shadow:0px 0px 20px 10px rgba(0, 148, 255,.31);
    }
  
  100% {
       border-radius:50% ;
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

/*@-moz-keyframes spinner-1 {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner-1 {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-1 {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}*/
/*.feature-small:hover .left  .icon{
    text-shadow: 0 0 10px #ee3733;
}*/














.pie {
  width: 100px; height: 100px;
  border-radius: 50%;
  background: yellowgreen;
}


.pie::before {
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
}


.pie::before {
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: inherit;
  transform-origin: left;
}


pie::before {
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background: #655;
  transform-origin: left;
  transform: rotate(.1turn);
}


@keyframes spin {
  to { transform: rotate(.5turn); }
}

@keyframes bg {
  50% { background: #655; }
}

.pie::before {
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: inherit;
  transform-origin: left;
  animation: spin 3s linear infinite,
             bg 6s step-end infinite;
}




